body{
    font-family: "Roboto", sans-serif;
}
.my_logo{
    width: 5%;
}
.my_search{
    width: 70%;
}
.my_bell{
    width: 5%;
}
.my_sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #0e263d;
    width: 70px;
    height: 100vh;
    color: white;
}

/* media  */
@media all and (min-width: 1200px){
    .my_sidebar{
        width: 200px;
    }
    .my_logo{
        width: 10%;
    }
    .my_search{
        width: 60%;
    }
    .my_bell{
        width: 10%;
    }
}